.QuizList{
    display: block;
    text-align: center;
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #fd8355 0%, #f0576c 37%, #f79cbd 100%);
    h1 {
        color: #fff;
    }
    ul{
        li{
            margin-bottom: 10px;
            a{
                color: #fff;
                &:hover{
                    color: #433232;
                }
            }
        }
    } 
}