.Quiz{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background-color: blue;

    .QuizWrapper{
        width: 600px;
    }

    h1{
        color: white;
    }
}